
<section class="flex-development-container">
  <section class="flex-development-summary">
    <p>
      Recently, a graduate from a Twin Cities local Software Development School, I'm becoming a lean M.E.A.N. software developing
      machine. I'm in love the junction of function and design, I always try to season my reasons with some rhymes.
    </p>
  </section>

<!-- local weather forecast -->
  <section class="development-heading">
    <h1> Local Weather Forecast </h1>
    <a href="https://github.com/chris-stanton/APP-local-weather-forecast"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About: </h3>
      <p>
        Local Weather Forcast App uses DarkSky's API to give the user the current weather conditions.
        The User can also view an hourly and daily graph thats displays current temp. "feels like" temp, humidity and chance of rain.
        lastly the user can view a 7 day outlook with high/low temps, sunrise/sunset times and chance of rain.
        App is desktop and mobile friendly.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used: </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> Javascript </li>
        <li> jQuery </li>
        <li> Node JS </li>
        <li> Dark Sky API </li>
        <li> Google geolocation API </li>
        <li> Font-awesome </li>
        <li> ChartJS </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/weather-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/weather-iphone.png">
    </section>
  </section>

<!-- inspection log -->
  <section class="development-heading">
    <h1> NFPA Inspection Log </h1>
    <a href="https://github.com/chris-stanton/APP-inspection-log"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About: </h3>
      <p>
        Full MEAN stack application that uses Passport for authentication, bcrypt for password hashings and adds a salt to all passwords from client to server side,
        Angular front-end and an Express/Postgresql back-end to create, maintain and save Fire and Gas Inspection logs that follow NFPA regulations and guidelines.
        The application has a User/Employee side and an Admin level to manage inspection details.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used: </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Passport JS </li>
        <li> Bcrypt JS </li>
        <li> Multer JS </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/inspection-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/inspection-iphone.png">
    </section>
  </section>

<!-- inspection log -->
  <section class="development-heading">
    <h1> People Sourced Policy </h1>
    <a href="https://github.com/chris-stanton/APP-people-sourced-policy"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About: </h3>
      <p>
        People Sourced Policy is an app that allows the Twin Cities communities get involved within the community of Minneapolis.
        Once logged in, User's can participate by adding their own ideas to the pre selected topics for each trimester or comment on other peoples ideas.
        Each tri-srmester contains a main topic with five sub-topics that pertain to the main topic. The app includes a user rights as well as admin rights
        where "admin" can change the topics, manage all comments and ideas and manage all users. The admin has complete control of the app. App is both desktop and mobile friendly.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used: </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Bootstrap </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Angular-Tooltip </li>
        <li> Firebase </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> Charts JS </li>
        <li> SweatAlerts </li>
        <li> Notify </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/psp-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/psp-iphone.png">
    </section>
  </section>



</section>
