
<section class="flex-development-container">

<!-- main discription -->
  <section class="flex-development-summary">
    <!-- here for spacing -->
  </section>

<!-- Personal application -->
  <section class="development-heading">
    <h1> Personal Portfolio </h1>
    <a ng-href="https://github.com/chris-stanton/APP-personal-website-2.0"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        You are currently viewing this application!!  Application is ment to be a tool to help aide is discovering new oppurtunities within Software Development community.
        Within the application, potential employers can read alittle bit about myself and my personal life, learn about a few applications I have developed and view my resume.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 -> Flex Box</li>
        <li>AngularJS</li>
        <li>Node.js</li>
        <li>ExpressJS</li>
        <li>GitHub API</li>
        <li>GitHub/GIT</li>
        <li>Heroku/Heroku CLI</li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/personal-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/personal-iphone.png">
    </section>
  </section>

<!-- wrapper code -->
<section class="development-heading">
  <h1> Wrapper Code </h1>
  <a ng-href="https://github.com/chris-stanton/APP-taper-offset"><img ng-src="../assets/images/icons/github-white.ico"></a>
</section>
<section class="flex-development-app">
  <section class="development-description">
    <h3> About </h3>
    <p>
      Wrapper Code is a platform ment for the rod building craft.  
      The web application has a series of necessary Mathematical equations needed to completed specific decorative cross wraps.
      Curently there are three active calculators: Taper Offset(square reasoning), Taper Offset(offset patterning) and mult axis layouts.
      All calculations are dynamic and the output is specific to the user's specifications.  I launched this app on June 20th, 2019 and have close to 300 paid registerest users, and growing strong!
    </p>
  </section>
  <section class="development-technologies">
    <h3> Technologies Used </h3>
    <ul>
      <li>HTML5</li>
      <li>CSS3 -> Flex Box</li>
      <li> AngularJS </li>
      <li> Node.js </li>
      <li> ExpressJS </li>
      <li> Passport.js </li>
      <li> PostgreSQL </li>
      <li> Stripe.js</li>
      <li> PayPal-SDK</li>
      <li> Heroku/CLI </li>
      <li> GIT/GitHub </li>
      <li> Photoshop</li>
    </ul>
  </section>
  <section class="development-mockups">
    <img class="mockup-mac" ng-src="../assets/images/mockups/wrapperCode-mac.png">
    <img class="mockup-iphone" ng-src="../assets/images/mockups/wrapperCode-iphone.png">
  </section>
</section>

<!-- guide spacing db -->
  <section class="development-heading">
    <h1> Guide Spacing Database </h1>
    <a ng-href="https://github.com/chris-stanton/APP-guide-spacing"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        This app started out as a referance, for myself, that provides guide sizes and spacing statistics specific to ice fishing rod blanks, blank lengths and handle lengths.
        I started passing the URL around to fellow rod builders and the app took off from there.
        The app has been through several renditions and is currently more of a "log book" than a guide spacing referance.
        Users can now create an account, get authenticated and save their own stats in the PostgreSQL database with specific notes and file uploads.
        Guide Spacing DB currently has over 8,000 registered users and is used several hundred times daily.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 -> Flex Box</li>
        <li> AngularJS </li>
        <li> Node.js </li>
        <li> ExpressJS </li>
        <li> Passport.js </li>
        <li> PostgreSQL </li>
        <li> AWS S3/AWS-Multer SDK</li>
        <li> Heroku/CLI </li>
        <li> GIT/GitHub </li>
        <li> Photoshop</li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/guideSpacing-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/guideSpacing-iphone.png">
    </section>
  </section>

<!-- annas bananas -->
  <section class="development-heading">
    <h1> Anna's Bananas Pre-School and Daycare</h1>
    <a ng-href="https://github.com/chris-stanton/APP-annas-bananas"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        This app was developed to help streamline Anna's new employee's correctly fill out the New Employee document packet.
        The original packet consists of 62 pages where the staff would give this to the new employee to complete but is never properly completed.
        This app is user friendly, and guides the employee through the documentation and how to file correctly.
        Once the new employee has completed filling out all required fields, the app then creates a PDF file which contains the data the user provided/submitted, and is then emailed to an Anna's Bananas employee to process.
        This app is used daily and has been used several hundred times within the last year.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML5</li>
        <li> CSS3 -> Flex Box</li>
        <li> AngularJS </li>
        <li> Node.js </li>
        <li> ExpressJS </li>
        <li> Heroku/CLI </li>
        <li> GIT/GitHub </li>
        <li> Photoshop</li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/annas-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/annas-iphone.png">
    </section>
  </section>

<!-- inspection log -->
  <section class="development-heading">
    <h1> NFPA Inspection Log </h1>
    <a ng-href="https://github.com/chris-stanton/APP-inspection-log"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Full MEAN stack application that uses Passport for authentication, bcrypt for password hashings and adds a salt to all passwords from client to server side,
        Angular front-end and an Express/Postgresql back-end to create, maintain and save Fire and Gas Inspection logs that follow NFPA regulations and guidelines.
        The application has a User/Employee side and an Admin level to manage inspection details.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 -> Flex Box</li>
        <li> AngularJS </li>
        <li> Node.js </li>
        <li> ExpressJS </li>
        <li> Passport.js </li>
        <li> PostgreSQL </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/inspection-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/inspection-iphone.png">
    </section>
  </section>

<!-- people sourced policy -->
  <section class="development-heading">
    <h1> People Sourced Policy </h1>
    <a ng-href="https://github.com/chris-stanton/APP-people-sourced-policy"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        People Sourced Policy is an app that allows the Twin Cities communities get involved within the community of Minneapolis.
        Once logged in, User's can participate by adding their own ideas to the pre selected topics for each trimester or comment on other peoples ideas.
        Each tri-srmester contains a main topic with five sub-topics that pertain to the main topic. The app includes a user rights as well as admin rights
        where "admin" can change the topics, manage all comments and ideas and manage all users.
        This app is now owned by someone else and is in production.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li> Bootstrap </li>
        <li> AngularJS </li>
        <li> Node.js </li>
        <li> Google's Firebase </li>
        <li> PostgreSQL </li>
        <li> ExpressJS </li>
        <li> ChartsJS </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/psp-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/psp-iphone.png">
    </section>
  </section>

<!-- wrap designer client -->
  <section class="development-heading">
    <h1> Wrap Designer (AngularJS) </h1>
    <a ng-href="https://github.com/chris-stanton/APP-wrap-designer-client-2.0"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Fishing Rod Wrap Designer is a simulator to show a user their thread color combinations before production starts on the fishing rod.
        The app gives the user a realistic idea on the design, width and color choices made before production is started on making the fishing rod.
        The user can pick from real thread MFG colors and change widths to create specific thread patterns.
        Users can also pick handles and view a scaled down version of the entire fishing rod, that includes: wraps, blank color, and a selected handle.
        This is a client side app that is using AngularJS.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 -> Flex Box</li>
        <li> AngularJS </li>
        <li> Photoshop </li>
        <li> GIT/GitHub </li>
        <li> Heroku/CLI</li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/wrapAngular-mac.png">
      <!-- <img class="mockup-iphone" ng-src="../assets/images/mockups/wrapAngular-iphone.png"> -->
    </section>
  </section>

<!-- wrap designer client -->
  <section class="development-heading">
    <h1> Wrap Designer (Vanilla Javascript) </h1>
    <a ng-href="https://github.com/chris-stanton/APP-wrap-designer-client"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Fishing Rod Wrap Designer is a simulator to show a user their thread color combinations before production starts on the fishing rod.
        The app gives the user a realistic idea on the design, width and color choices made before production is started on making the fishing rod.
        The user can pick from real thread MFG colors and change widths to create specific thread patterns.  This is a client side application that is written in
        HTML, CSS and vanilla Javascript.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML5 </li>
        <li> CSS3 </li>
        <li> Vanilla Javascript </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/wrapClient-mac.png">
      <!-- <img class="mockup-iphone" ng-src="../assets/images/mockups/psp-iphone.png"> -->
    </section>
  </section>

<!-- local weather forecast -->
  <section class="development-heading">
    <h1> Local Weather Forecast </h1>
    <a ng-href="https://github.com/chris-stanton/APP-local-weather-forecast"><img ng-src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Local Weather Forcast App uses DarkSky's API to give the user the current weather conditions.
        The User can also view an hourly and daily graph thats displays current temp. "feels like" temp, humidity and chance of rain.
        lastly the user can view a 7 day outlook with high/low temps, sunrise/sunset times and chance of rain.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3 -> Flex Box</li>
        <li> jQuery </li>
        <li> Node.js </li>
        <li> Dark Sky API </li>
        <li> Google geolocation API </li>
        <li> ChartJS </li>
        <li> GIT/GitHub </li>
        <li> Heroku/CLI</li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" ng-src="../assets/images/mockups/weather-mac.png">
      <img class="mockup-iphone" ng-src="../assets/images/mockups/weather-iphone.png">
    </section>
  </section>

</section>
