
<section class="flex-development-container">

<!-- main discription -->
  <section class="flex-development-summary">
    <!-- <p>
      Recently, a graduate from a Twin Cities local Software Development School, I'm becoming a lean M.E.A.N. software developing
      machine. I'm in love the junction of function and design, I always try to season my reasons with some rhymes.
    </p> -->
  </section>

<!-- local weather forecast -->
  <section class="development-heading">
    <h1> Local Weather Forecast </h1>
    <a href="https://github.com/chris-stanton/APP-local-weather-forecast"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Local Weather Forcast App uses DarkSky's API to give the user the current weather conditions.
        The User can also view an hourly and daily graph thats displays current temp. "feels like" temp, humidity and chance of rain.
        lastly the user can view a 7 day outlook with high/low temps, sunrise/sunset times and chance of rain.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> Javascript </li>
        <li> jQuery </li>
        <li> Node JS </li>
        <li> Dark Sky API </li>
        <li> Google geolocation API </li>
        <li> Font-awesome </li>
        <li> ChartJS </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/weather-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/weather-iphone.png">
    </section>
  </section>

<!-- inspection log -->
  <section class="development-heading">
    <h1> NFPA Inspection Log </h1>
    <a href="https://github.com/chris-stanton/APP-inspection-log"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Full MEAN stack application that uses Passport for authentication, bcrypt for password hashings and adds a salt to all passwords from client to server side,
        Angular front-end and an Express/Postgresql back-end to create, maintain and save Fire and Gas Inspection logs that follow NFPA regulations and guidelines.
        The application has a User/Employee side and an Admin level to manage inspection details.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Passport JS </li>
        <li> Bcrypt JS </li>
        <li> Multer JS </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/inspection-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/inspection-iphone.png">
    </section>
  </section>

<!-- people sourced policy -->
  <section class="development-heading">
    <h1> People Sourced Policy </h1>
    <a href="https://github.com/chris-stanton/APP-people-sourced-policy"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        People Sourced Policy is an app that allows the Twin Cities communities get involved within the community of Minneapolis.
        Once logged in, User's can participate by adding their own ideas to the pre selected topics for each trimester or comment on other peoples ideas.
        Each tri-srmester contains a main topic with five sub-topics that pertain to the main topic. The app includes a user rights as well as admin rights
        where "admin" can change the topics, manage all comments and ideas and manage all users.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Bootstrap </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Angular-Tooltip </li>
        <li> Firebase </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> Charts JS </li>
        <li> SweatAlerts </li>
        <li> Notify </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/psp-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/psp-iphone.png">
    </section>
  </section>

<!-- wrap designer full stack -->
  <section class="development-heading">
    <h1> E-Commerce (Custom Fishing Rod) </h1>
    <a href="https://github.com/chris-stanton/APP-fishing-rod-website"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        E-Commerse website that allows Customers the ability to order custom fishing rod models or complete custom builds.
        Customers are able to browse all fishing rod models, made by Chris Stanton, and view thier specs.  Orders usually ship in 2-3 weeks.
        App has an Admon level where the admin can add, edit and delete inventory items and Users from the database.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Bootstrap </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Firebase </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> Notify </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/ecommerce-mac.png">
      <!-- <img class="mockup-iphone" src="../assets/images/mockups/psp-iphone.png"> -->
    </section>
  </section>

<!-- wrap designer full stack -->
  <section class="development-heading">
    <h1> Wrap Designer (MEAN Stack) </h1>
    <a href="https://github.com/chris-stanton/APP-wrap-designer-fullStack"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Fishing Rod Wrap Designer is a simulator to show a user their thread color combinations before production starts on the fishing rod.
        The app gives the user a realistic idea on the design, width and color choices made before production is started on making the fishing rod.
        The user can pick from real thread MFG colors and change widths to create specific thread patterns.
        Thsi application also allows the user to view a guide spacing view with the ability to add thier specific guide spacing stats.
        The Admin must activate the submitted stats before becoming active for all users to see.  User authentication is done with Firebase.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Bootstrap </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Firebase </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> SweatAlerts </li>
        <li> Animate CSS</li>
        <li> Notify </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/wrapFull-mac.png">
      <!-- <img class="mockup-iphone" src="../assets/images/mockups/psp-iphone.png"> -->
    </section>
  </section>

<!-- wrap designer client -->
  <section class="development-heading">
    <h1> Wrap Designer (Vanilla Javascript) </h1>
    <a href="https://github.com/chris-stanton/APP-wrap-designer-client"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Fishing Rod Wrap Designer is a simulator to show a user their thread color combinations before production starts on the fishing rod.
        The app gives the user a realistic idea on the design, width and color choices made before production is started on making the fishing rod.
        The user can pick from real thread MFG colors and change widths to create specific thread patterns.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Javascript </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/wrapClient-mac.png">
      <!-- <img class="mockup-iphone" src="../assets/images/mockups/psp-iphone.png"> -->
    </section>
  </section>

<!-- Notification Demo -->
  <section class="development-heading">
    <h1> Notification Demo </h1>
    <a href="https://github.com/chris-stanton/APP-notifications-demo"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        A simple application that allows Developers to view all of the most popular Javascript 3rd party alert libraries at one location.
        The application's framework is built from HTML5, CSS3, Javascript, Flex Box and Waypoints.js. The only 3rd party plugins are the alert libraries
        intended for this demonstration. There is NO JQUERY in this application.
        See the Technologies Used section below for libraries used.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> Javascript </li>
        <li> WaypointJS </li>
        <li> NotifyJS </li>
        <li> Alertify.js </li>
        <li> Alertify JS </li>
        <li> SweetAlert 2 </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/notifications-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/notifications-iphone.png">
    </section>
  </section>

<!-- standard to metric weight converter -->
  <section class="development-heading">
    <h1> Weight Converter </h1>
    <a href="https://github.com/chris-stanton/APP-weight-metric-converter"><img src="../assets/images/icons/github-white.ico"></a>
    </section>
    <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Simple application to convert standard pounds into metric grams, kilograms and ounces.  Application is both mobile and desktop friendly.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Javascript </li>
        <li> Bootstrap 4 </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/converter-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/converter-iphone.png">
    </section>
  </section>

<!-- parallax example (lambo) -->
  <section class="development-heading">
    <h1> Parallax Example (Lamborghini Aventador) </h1>
    <a href="https://github.com/chris-stanton/BOILERPLATE-parallaxLambo-website"><img src="../assets/images/icons/github-white.ico"></a>
    </section>
    <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Parallax Web example is directed toward the Lamborghini Aventador.  This example is using only HTML, CSS and Flex Box.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/parallax-mac.png">
      <!-- <img class="mockup-iphone" src="../assets/images/mockups/parallax-iphone.png"> -->
    </section>
  </section>

<!-- Landing Page example -->
  <section class="development-heading">
    <h1> Landing Page Example </h1>
    <a href="https://github.com/chris-stanton/BOILERPLATE-northShore-landingPage"><img src="../assets/images/icons/github-white.ico"></a>
    </section>
    <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Simple HTML and CSS landing page example. This example is using only HTML, CSS and Flex Box.
        The picture is of the Northern Shores of Lake Superior in Minnesota.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Flex Box </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/landing-mac.png">
      <img class="mockup-iphone" src="../assets/images/mockups/landing-iphone.png">
    </section>
  </section>

<!-- Auto Emailer -->
  <section class="development-heading">
    <h1> Auto Emailer </h1>
    <a href="https://github.com/chris-stanton/APP-auto-emailer"><img src="../assets/images/icons/github-white.ico"></a>
  </section>
  <section class="flex-development-app">
    <section class="development-description">
      <h3> About </h3>
      <p>
        Auto-Emailer is an app where users can manage important contact dates to specific individuals.
        The app allows a user to add basic data that pertains to a contact, edit the data and schedule
        automatic follow up reminder emails to be sent to the user.
      </p>
    </section>
    <section class="development-technologies">
      <h3> Technologies Used </h3>
      <ul>
        <li> HTML </li>
        <li> CSS </li>
        <li> Bootstrap </li>
        <li> Javascript </li>
        <li> Node JS </li>
        <li> Angular </li>
        <li> Angular-Route </li>
        <li> Firebase </li>
        <li> PostgreSQL </li>
        <li> Express </li>
        <li> Node Mailer </li>
        <li> SweatAlerts </li>
        <li> Animate CSS</li>
        <li> Notify </li>
        <li> GIT/GitHub </li>
      </ul>
    </section>
    <section class="development-mockups">
      <img class="mockup-mac" src="../assets/images/mockups/emailer-mac.png">
      <!-- <img class="mockup-iphone" src="../assets/images/mockups/emailer-iphone.png"> -->
    </section>
  </section>





</section>
