
<section class="flex-main-container">

  <section id="to-top" class="flex-main-about-parallax animated slideInUp">
  <!-- intro to me -->
    <p>
      My name is Christopher J. Stanton, I live in the Southern Metro Area of the Twin cities, where
      I was born and rasied, and absolutely love the state of Minnesota.  I have many hobbys but find myself fishing, building fishing rods
      or coding in most of my free time.
    </p>
    <p>
      My ability to think differently or “out side the box”, has allowed me to scale up through organizations fast and has made me an asset to all of my pervious employers.
      I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set.
      Continuous knowledge growth is something that I am passionate about.
    </p>
    <p>
      At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/PostgreSQL, ExpressJS, AngularJS and NodeJS).
      I've found that I enjoy all aspects of computer development, but my passion right now is in Node.js development.
    </p>
  </section>
</section>
