
<section class="flex-main-container">
  <section class="flex-main-about-downArrow">
    <a href="#to-top"><img src="../assets/images/icons/arrow-down.ico"></a>
  </section>
  <section class="flex-main-about-parallax"  id="to-top">
  <!-- intro to me -->
    <p>
      My name is Christopher J. Stanton, I live in the Southern Metro Area of the Twin cities, where
      I was born and rasied, and absolutely love the state of Minnesota.  I have many hobbys but find myself fishing, building fishing rods
      or coding in most of my free time.
    </p>
    <p>
      My Wife and I were recently married in St. Paul last October.  We have a 11 year old Son, Gavin, that started middle school this year.
      Gavin enjoys playing soccer and football where it consumes most of his time every summer and fall.
      On July 21th 2017, my family and I were blessed with a healthy baby girl named Estelle.
    </p>
    <p>
      I would also consider myself a foodie. I enjoy going out to different and unique resturants, trying "strange" food and enjoying local beers with
      friends and family. Cooking is also a passion, where I like to learn new recipes and techniques, but mostly enjoyable teaching my son
      how to cook.
    </p>
  <!-- past history -->
    <p>
      I was an Electronics/Software Specialist that had been working in the Oil and Natural Resource Industry.
      For the last 3 years, I was a Supervisor and Traveling Tech for Det-Tronics where I built and completed
      onsite installation of hazardous location fire and gas industrial safety systems.
    </p>
    <p>
      My ability to think differently or “out side the box”, has allowed me to scale up through organizations fast and has made me an asset to all of my pervious employers.
      I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set.
      Continuous knowledge growth is something that I am passionate about.
      For example, I recently decided to take a new journey in life by attending Prime Digital Academy where I recently graduated with a Full Stack Software Engineering certificate.
    </p>
    <p>
      At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/SQL, Express.js, Angular.js and Node.js).
      I've found that I enjoy all aspects of computer developement, but my passion is in server side development.
    </p>
  </section>
</section>
