
<section class="flex-resume-container">
<!-- objective -->
  <section class="flex-resume-objective">
    <h3> Objective </h3>
      <p>
        To obtain a position that utilizes my electro-mechanical, problem solving, software development and supervision skills in order
        to grow my Development career with a well-established company.
      </p>
  </section>
<!-- qualifications -->
  <section class="flex-resume-qualifications">
    <h3> Qualifications </h3>
      <section class="qualification-items-container">
        <section class="qualification-item">
          <img ng-src="./assets/images/icons/mean.ico">
            <h5> MEAN Stack Development </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/javascript.ico">
            <h5> Javascript </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="./assets/images/icons/angular.ico">
            <h5> Angular </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/jquery.ico">
            <h5> jQuery </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/node.ico">
            <h5> Node JS </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/express.ico">
            <h5> Express JS </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/sql.ico">
            <h5> PostgreSQL </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/mongodb.ico">
            <h5> MongoDB </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/heroku.ico">
            <h5> Heroku </h5>
        </section>
        <section class="qualification-item">
          <img ng-src="/assets/images/icons/github-white.ico">
            <h5> Git / GitHub </h5>
        </section>
    </section>
  </section>
<!-- employment -->
  <section class="flex-resume-employment">
    <h3> Employment </h3>
      <section class="flex-resume-employer-container">
        <!-- DH Custome Rods -->
        <section class="employers">
          <p>
            <a ng-href="http://www.dhcustomrods.com/" title="www.dhcustomrods.com">
            <strong> DH Custom Rods & Tackle: </strong></a></br><em> 2015-Present </em></br>
            Wayzata, Minnesota</br>
            952-471-7637
          </p>
            <h6> Fishing Rod Builder: </h6>
              <ul>
                <li> Fishing rod builder/wrapper </li>
                <li> Custom weaves and wraps </li>
                <li> Offer customer support </li>
                <li> Lead quarterly rod building seminars </li>
              </ul>
        </section>
        <!-- Det-Tronics -->
        <section class="employers">
          <p>
            <a ng-href="http://www.det-tronics.com/Pages/Home.aspx" title="www.Det-Tronics.com">
            <strong> Detector Electronics (UTC): </strong></a></br><em> 2013-2016 </em></br>
            Bloomington, Minnesota </br>
            952-941-5665
          </p>
            <h6> Supervisor: </h6>
              <ul>
                <li> Responsible for quality control </li>
                <li> Write work instructions / workmanship procedures </li>
                <li> In charge of all projects within the department </li>
                <li> Blueprint reading and editing </li>
                <li> Technical support </li>
                <li> Ordered parts </li>
                <li> Build and wire large electrical panels </li>
                <li> Safety committee member </li>
                <li> ACE Associate </li>
                <li> Created Manufacturing and Logic Procedures </li>
                <li> Standardized the Product Line </li>
              </ul>
        </section>
        <!-- Paragon II -->
        <section class="employers">
          <p>
            <a ng-href="http://www.paragonrestoration2.com" title="www.ParagonRestoration2.com">
            <strong> Paragon Restoration 2: </strong></a></br><em> 2010-2013 </em></br>
            Prior Lake, Minnesota </br>
            952-941-5665
          </p>
            <h6> Foreman: </h6>
              <ul>
                <li> Managed 5-15 workers daily </li>
                <li> Responsible for jobs being completed correctly and on time </li>
                <li> Followed OSHA requirements </li>
                <li> Maintained a safe work environment </li>
                <li> Certified Trainer </li>
              </ul>
            <h6> Laborer: </h6>
              <ul>
                <li> Ran and maintained heavy machinery / tools </li>
                <li> Concrete finisher </li>
                <li> Rebar mat construction </li>
                <li> Performed general concrete demolition and repair duties </li>
                <li> Installation of shoring supports </li>
           </ul>
        </section>
        <!-- Swanson Construction -->
        <section class="employers">
          <p>
            <strong> R Swanson Construction: </strong></br><em> 2009-2010 </em></br>
            Cross Lake, Minnesota </br>
            612-636-9663
          </p>
            <h6> Foreman: </h6>
  	          <ul>
                <li> Performed general residential home remodel / repairs </li>
                <li> Followed all safety requirements for mold removal </li>
                <li> Managed 2-7 laborers daily </li>
                <li> Maintained a safe work enviroment </li>
              </ul>
        </section>
        <!-- sub zero -->
        <section class="employers">
          <p>
            <strong> Sub Zero Sounds: </strong></br><em> 2003-2009 </em></br>
            Fridley, Minnesota </br>
            763-693-1835
          </p>
            <h6> Shop Supervisor: </h6>
   		        <ul>
   	            <li> Ordered product/supplies </li>
   	            <li> Sales </li>
                <li> Troubleshooting / Tech Support </li>
                <li> Shipping and receiving </li>
                <li> Lead custom installer </li>
   	            <li> Inspector of all installations done within Sub Zero Sounds </li>
              </ul>
            <h6> Basic Installer: </h6>
   	          <ul>
   	            <li> Performed installations of car alarms / remote starters, speakers, amp and video monitors </li>
                <li> Knowledge of 6, 12, 24 and 48 volt DC electrical systems </li>
  	            <li> MECP Certified </li>
              </ul>
        </section>
      </section>
  </section>
<!-- education -->
  <section class="flex-resume-education">
    <h3> Education </h3>
      <section class="resume-education-container">
        <section class="educations">
          <a ng-href="https://primeacademy.io/"><h4> Prime Digital Academy </h4></a>
          <h5> Bloomington, Minnesota </h5>
          <h6> 2017-2017 </h6>
          <h5> Full Stack Software Engineering Certificate </h5>
        </section>
        <section class="educations">
          <a ng-href="https://http://www.dctc.edu/"><h4> Dakota County Technical </h4></a>
          <h5> Rosemount, Minnesota </h5>
          <h6> 2009-2011 </h6>
          <h5> Electrical Lineworker Degree - Associates Degree </h5>
        </section>
        <section class="educations">
          <a ng-href="http://isd194.org/lakeville-north/"><h4> Lakeville Senior High </h4></a>
          <h5> Lakeville, Minnesota </h5>
          <h6>  </h6>
          <h5> High School Diploma </h5>
        </section>
      </section>
    </section>
<!-- end of main container -->
</section>
