
<section class="flex-footer-main-container">
  <section class="flex-footer-copyright-container">
    <h6> &copy; 2017 Christopher J. Stanton </h6>
    <h6> All Rights Reserved </h6>
  </section>
  <section class="flex-footer-icon-container">
    <a href="mailto:cstanton0760@yahoo.com"><img src="./assets/images/icons/mail-white.ico"></a>
    <a href="https://github.com/chris-stanton"><img src="./assets/images/icons/github-white.ico"></a>
    <a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img src="./assets/images/icons/linkedin-white.ico"></a>
  </section>
</section>
