
body {
  margin: 0px;
  padding: 0px;
  font-family: serif, sans-serif;
}



/*------------------- NAV BAR */

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.flex-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.flex-nav-container .link-name {
  flex: 8 8 20px;
  font-size: 2em;
  text-shadow: 1px 1px 1px #c1c1c1;
}

.flex-nav-container .link-development {
  flex: 1 1 20px;
  text-shadow: 1px 1px 1px #c1c1c1;
}

.flex-nav-container .link-resume {
  flex: 1 1 20px;
  text-shadow: 1px 1px 1px #c1c1c1;
}

.flex-nav-container a {
  text-decoration: none;
  color: #ffffff;
}




/*------------------- MAIN */
.flex-main-container {
  background-image: url('../assets/images/backgrounds/main.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}







@media(max-width: 500px) {

  .flex-nav-container {
    flex-direction: column;
  }

  .flex-nav-container .link-development {
    margin-top: 20px;
  }

  .flex-nav-container .link-resume {
    margin-top: 10px;
  }

  .flex-main-container {
    background-position: left;
  }

}
