
* {
  margin: 0px;
  padding: 0px;
  font-family: serif, sans-serif;
}



/*------------------- NAV BAR */

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 6px 0px 10px 0px;
  /*background-color: rgba(0, 0, 0, 0.3);*/
}

.flex-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.flex-nav-container .link-name {
  flex: 8 8 20px;
  font-size: 3em;
  text-shadow: 3px 3px 3px #000000;
  text-align: center;
}

.flex-nav-container .link-name a:hover {
  border-bottom: 3px solid #ff9900;
  border-radius: 1px;
  text-shadow: 1px 1px 1px #ff9900;
}

.flex-nav-container .link-development {
  flex: 1 1 20px;
  font-size: 1.25em;
  text-shadow: 3px 3px 3px #000000;
}

.flex-nav-container .link-development a:hover {
  border-bottom: 3px solid #69ff00;
  border-radius: 1px;
  text-shadow: 1px 1px 1px #69ff00;
}

.flex-nav-container .link-resume {
  flex: 1 1 20px;
  font-size: 1.25em;
  text-shadow: 3px 3px 3px #000000;
}

.flex-nav-container .link-resume a:hover {
  border-bottom: 3px solid #ff00fc;
  border-radius: 1px;
  text-shadow: 1px 1px 1px #ff00fc;
}

.flex-nav-container a {
  text-decoration: none;
  color: #ffffff;
  padding: 3px;
}




/*------------------- MAIN */
.flex-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url('../assets/images/backgrounds/main.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  overflow: scroll;
}

.flex-main-container .flex-main-about-parallax {
  margin: 120px 60px 40px 0px;
  flex: 1;
  flex-direction: column;
  width: 55vw;
  font-size: 1.5em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

 .flex-main-about-parallax p {
  margin: 20px;
}


footer {
  background-color: #2d2d2d;
  color: #ffffff;
  width: 100vw;
}

.flex-footer-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
}

.flex-footer-main-container .flex-footer-copyright-container {
  /*display: flex;*/
  flex: 1;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  font-size: 1.25em;
}

.flex-footer-main-container .flex-footer-icon-container {
  /*display: flex;*/
  flex: 2;
  flex-direction: row;
  margin-right: 30px;
  text-align: right;
}


.flex-footer-icon-container img {
  width: 3vw;
  margin: auto 10px;
}









@media(max-width: 568px) {

/*------------------- NAV BAR */
  nav {
    background-color: transparent;
  }

  .flex-nav-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-nav-container .link-name {
    height: 60px;
    width: 90vw;
    font-size: 2.25em;
    text-align: center;
    text-shadow: 4px 4px 4px #000000;
    margin: 10px auto;
    padding: 8px;
  }

  .flex-nav-container .link-development {
    background-color: #2d2d2d;
    height: 20px;
    width: 60vw;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    margin: 5px;
    padding: 8px;
  }

  .flex-nav-container .link-resume {
    background-color: #2d2d2d;
    height: 20px;
    width: 60vw;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    margin: 5px;
    padding: 8px;
  }



/*------------------- MAIN */
  .flex-main-container {
    background-position: left;
  }

  .flex-main-container {
    align-items: center;
  }

  .flex-main-container .flex-main-about-parallax {
    margin: 200px 0px 40px 0px;
    flex: 1;
    flex-direction: column;
    width: 90vw;
    font-size: 1.5em;
  }



/*------------------- FOOTER */
  .flex-footer-main-container .flex-footer-copyright-container {
    /*display: flex;*/
    flex: 1;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    font-size: 0.5em;
  }

  .flex-footer-main-container .flex-footer-icon-container {
    margin-right: 10px;
  }

  .flex-footer-icon-container img {
    width: 10vw;
    margin: auto 10px;
  }


}
